.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}

.timeline {
  position: relative;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1px;
  background-color: #50a1ff;
}

.timeline-element {
  position: relative;
  width: 50%;
  padding: 1rem 0;
  padding-right: 2.5rem;
  text-align: right;
}

.timeline-element::before {
  content: '';
  position: absolute;
  right: -8px;
  top: 1.35rem;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #50a1ff;
  background-color: #fff;
}

.timeline-element:nth-child(even)::before {
  right: auto;
  left: -8px;
}

.timeline-element:nth-child(even) {
  margin-left: 50%;
  padding-left: 2.5rem;
  padding-right: 0;
  text-align: left;
}

@media (max-width: 767.98px) {
  .timeline::before {
    left: 8px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25rem;
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even) {
    margin-left: 0rem;
  }
}

@media (max-width: 767.98px) {
  .timeline-element {
    width: 100%;
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 0;
  }
}

@media (max-width: 767.98px) {
  .timeline-element:nth-child(even)::before {
    left: 1px;
  }
}

@media (max-width: 767.98px) {
  .timeline-element::before {
    top: 1.25rem;
  }
}
